/* color-list {
  background: #0097A7
  text: #E3F2FD
  link: #81C784
} */
header {
  background: #0097A7;
  color: #E3F2FD;
  text-align: center;
}
footer {
  background: #0097A7;
  color: #E3F2FD;
  text-align: center;
}
